@charset "utf-8";
@media (max-width: 1465px){
    .packgate-left{margin-left: auto;margin-right: auto;height: 330px;}.packgate-left img{width: 315px;height: 165px;}.packgate-right{margin-left: auto;margin-right: auto;height: 330px;}.packgate-right img{width: 315px;height: 165px;}.packgate-right2{margin-left: auto;margin-right: auto;height: 330px;}.packgate-right2 img{width: 315px;height: 165px;}.packgate-right3{margin-left: auto;margin-right: auto;height: 330px;}.packgate-right3 img{width: 315px;height: 165px;}
}
@media (max-width: 1350px){
    .bird{display: none;}.cloud{display: none;}
}

@media (max-width: 1200px){
    .text-menu-ranong {display: none;}.home-mainmenuranong ul li .menuitem a{text-align:center;background-image: none;}.packgate-left h3{font-size: 18px;}.packgate-left p{font-size: 13px;}.packgate-right h3{font-size: 18px;}.packgate-right p{font-size: 13px;}.packgate-right2 h3{font-size: 18px;}.packgate-right2 p{font-size: 13px;}.packgate-right3 h3{font-size: 18px;}.packgate-right3 p{font-size: 13px;}
}

@media (max-width: 1024px){
}
@media (max-width: 991px){
    .headtravelindex{height: 600px;}.packgate-left{margin-top: 20px;}.packgate-right{margin-top: 20px;}.packgate-right2{margin-top: 20px;}.packgate-right3{margin-top: 20px;}.detail-packgate{margin-left: auto;margin-right: auto;height: 200px;}.detail-packgate h2{font-size: 18px;}.detail-packgate2{margin-right: auto;margin-left: auto;}.detail-packgate3{margin-right: auto;margin-left: auto;}
}
@media (max-width: 768px){
}
@media (max-width: 767px){
    .row{margin-left: 0px;margin-right: 0px;}
}
@media (max-width: 607px){
    .bird{display: block;}.cloud{display: block;}.bird img{width: 260px;}.cloud img{width: 200px;margin-right: 0px;background-size: 50px;background-position:50px 40px;}.camera img{width: 150px;margin-left: 0px;}.backpack img{width: 125px;margin-right: 0px;}
}
@media (max-width: 480px){
    .buttonindex .btn-success, .buttonindex .btn-danger{min-width: 100px;}.buttonindex{text-align: center;}.headtravelindex{height: 650px;}.buttonindex a{margin-left: 0px;margin-bottom: 5px;}.menuitem a > img{width: 30px;}.box-img-ranong .hover img{top:65px;width: 50px;}.box-detail-ranong, .box-img-ranong{height: 145px;}.box-detail-ranong{padding:15px 15px 10px 15px;}.box-detail-ranong h5{font-size: 15px;line-height: 30px;height: 30px;}.box-detail-ranong p{height: 39px;margin-bottom: 10px;font-size: 10px;line-height: 20px;}.box-detail-ranong a{font-size: 15px;}.bird img{width: 180px;}.packgate-left{height: 320px}.packgate-left img{width: 190px;height: 150px;}.packgate-left h3{font-size: 18px;}.packgate-right img{width: 190px;height: 150px;}.packgate-right h3{font-size: 18px;}.packgate-right2 img{width: 190px;height: 150px;}.packgate-right2 h3{font-size: 18px;}.packgate-right3 img{width: 190px;height: 150px;}.packgate-right3 h3{font-size: 18px;}
}
@media (max-width: 360px){
    .menuitem a > img{width: 15px;}.packgate-left img{width: 120px;height: 110px;}.packgate-right img{width: 120px;height: 110px;}.packgate-right2 img{width: 120px;height: 110px;}.packgate-right3 img{width: 120px;height: 110px;}
}



